<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>To-do list</title>
</head>
<body>
   <div>
        <h1 onclick="location.href='{% url "index" %}'">
            Django to-do list
        </h1>
        <p style="color: rgb(92, 92, 92);">
            man i hate django
        </p>
   </div> 
   <div>
        {% block content %}
        This content will be replaced
        {% endblock content %}
   </div>
</body>
</html>